{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="row">
  <div class="col-md-4 offset-md-4">
      <h1>Sign Up</h1>
      <form method="POST" action=".">
        {% csrf_token %}
        <div id="div_id_display" class="form-group">
          <label for="id_display" class=" requiredField">
              Display Name<span class="asteriskField">*</span>
          </label>
          <div class="">
            <input type="text" name="display_name" placeholder="Display Name" class="textinput textInput form-control" required="" id="id_display">
          </div>
        </div>
        {{ form.email|as_crispy_field }}
        {{ form.password1|as_crispy_field }}
        {{ form.password2|as_crispy_field }}

        <input class="btn btn-success" type="submit" value="Submit"/>
      </form>
  </div>
</div>
{% endblock %}
