{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="row">
  <div class="col-md-4 offset-md-4">
      <form action="." method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.display_name|as_crispy_field }}
        {{ form.email|as_crispy_field }}
        {{ form.image|as_crispy_field }}
        <input class="btn btn-success" type="submit" value="Submit"/>
      </form>
  </div>
</div>
{% endblock %}
