{% extends "base.html" %}

{% block content %}
<br>
<div class="row">
  <div class="col-md-4 offset-md-4">
    {% if sent %}
      <h2>Your Request has been sent</h2>
    {% else %}
      <h2>Something went wrong, please contact the site owner directly</h2>
    {% endif %}
  </div>
</div>
{% endblock %}
