{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="row">
  <div class="col-md-8 offset-md-2">
    <center>
      <h2>Invite person to your gallery</h2>
      <p>They will recieve an invitation email</p>
    </center>
    {% if sent%}
      <div class="alert alert-success">
        Email sent to {{ sent  }}
      </div>
    {% endif %}
    <br>
    <form method="POST" action="." class="col-md-4 offset-md-4">
      {% csrf_token %}
      {{ form.email|as_crispy_field }}
      {{ form.name|as_crispy_field }}
      <input type="submit" value="Send" class="btn btn-success"/>
    </form>
  </div>
</div>
{% endblock %}
