{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-4 offset-md-1" style="margin: auto">
        <h4>Login</h4>
        <form method="POST" action=".">
          {% csrf_token %}
          {% if form.errors %}
          <div class="alert alert-danger">
            {{ form.non_field_errors }}
            {% for field in form %}
              {% for error in field.errors %} 
                {{ error }}
              {% endfor %}
            {% endfor %}
          </div>
          {% endif %}
          <div id="div_id_email" class="form-group"> 
            <label for="id_email" class=" requiredField">
                Email<span class="asteriskField">*</span> 
            </label> 
            <div class=""> 
              <input type="text" name="username" value="" autofocus="" autocapitalize="none" autocomplete="email" maxlength="150" class="textinput textInput form-control" required="" id="id_email"> 
            </div> 
          </div>
          <div id="div_id_password" class="form-group"> 
            <label for="id_password" class=" requiredField">
              Password<span class="asteriskField">*</span> 
            </label> 
            <div class=""> 
              <input type="password" name="password" autocomplete="current-password" class="textinput textInput form-control" required="" id="id_password"> 
            </div> 
          </div>

          <input class="btn btn-success" type="submit" value="Submit"/>
        </form>
    </div>
    <div class="d-none d-md-block" style="border: 1px solid gray; height: 250px; margin: auto;"></div>
    <div class="col-md-4 offset-md-1" style="margin: auto">
      <h4>Don't have an account?</h4>
      <form method="POST" action="/users/invite-request/">
        {% csrf_token %}
        <div id="div_id_name" class="form-group"> 
          <label for="id_name" class=" requiredField">
              Name<span class="asteriskField">*</span> 
          </label> 
          <input type="text" name="name" value="" maxlength="150" class="textinput textInput form-control" required="" id="id_register_name"> 
        </div>
        <div id="div_id_email" class="form-group"> 
          <label for="id_email" class=" requiredField">
              Email<span class="asteriskField">*</span> 
          </label> 
          <input type="text" name="email" value="" maxlength="250" class="textinput textInput form-control" required="" id="id_register_email"> 
        </div>
        <input type="submit" value="Request an Invite" class="btn btn-info"/>
      </form>
    </div>
  </div>
</div>
{% endblock %}
