{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="row">
  <div class="col-md-4 offset-md-4">
      <table class="table">
        <tr>
          <th>Display Name</th>
          <td>{{ profile.display_name }}</td>
        </tr>
        <tr>
          <th>Email</th>
          <td>{{ profile.user.email }}</td>
        </tr>
        <tr>
          <th>Profile Picture</th>
          <td>
            {% if profile.image %}
              <a href="/profile/edit/"><img class="profile-pic" width="200" src="{{ profile.image.url }}" /></a>
            {% else %}
              <a href="/profile/edit/"><img class="profile-pic" width="200" src="https://api.adorable.io/avatars/285/{{ profile.user.pk }}@adorable.io.png" /></a>
            {% endif %}
          </td>
        </tr>
      </table>
      {% comment %}
      <form method="POST" action=".">
        {% csrf_token %}
        {{ form|crispy }}
        <input class="btn btn-success" type="submit" value="Submit"/>
      </form>
      {% endcomment %}
  </div>
  <div class="col-md-2">
    <a class="btn btn-success" href="/profile/edit/">Edit</a>
  </div>
</div>
{% endblock %}
