{% extends "base.html" %}

{% block content %}
  {% for profile in users %}
    <div class="row">
      <div class="col-md-2 offset-md-2">
        {{ profile.display_name }}
      </div>
      <div class="col-md-2">
        {{ profile.user.email }}
      </div>
      <div class="col-md-2">
        <form action="/users/delete/" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <input type="hidden" name="profile" value="{{ profile.pk }}"/>
          <input type="submit" class="btn btn-danger" value="Remove">
        </form>
      </div>
    </div>
    <br>
  {% endfor %}
{% endblock %}
