{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block head-css %}
  {{ block.super }}
  <link href="https://unpkg.com/filepond/dist/filepond.css" rel="stylesheet">
  <link href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css" rel="stylesheet">
{% endblock %}

{% block head-js %}
<script src="https://unpkg.com/filepond-plugin-image-transform/dist/filepond-plugin-image-transform.js"></script>
<script src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.js"></script>
<script src="https://unpkg.com/filepond-plugin-image-resize/dist/filepond-plugin-image-resize.js"></script>
<script src="https://unpkg.com/filepond/dist/filepond.js"></script>
<script type="text/javascript">
  // function readURL(input) {
  //     if (input.files && input.files[0]) {
  //         var files = input.files;
  //         for (var i = 0; i < files.length; i++) {
  //           var reader = new FileReader();
  //           reader.onload = function (e) {
  //               index = i - 1;
  //               var img = $($.parseHTML('<img>')).attr('src', e.target.result).attr('width', 250).attr('height', 250);
  //               img.css('padding', '5px');
  //               img.appendTo($("#previews"));
  //           };
  //           reader.readAsDataURL(files[i]);
  //         }
  //     }
  // }
</script>
{% endblock %}

{% block end-js %}
<script type="text/javascript">
  const inputElement = document.querySelector('input[type="file"]');
  var csrf_token="{{ csrf_token }}";
  FilePond.registerPlugin(FilePondPluginImageTransform);
  FilePond.registerPlugin(FilePondPluginImageResize);
  FilePond.registerPlugin(FilePondPluginImagePreview);
  FilePond.create(inputElement, {
     server: {
          // url, none, because endpoints located on the same server
          process: {
              headers: {"X-CSRFToken":csrf_token,},
              url: '/add/image/',
              method: 'POST',
          },
          revert: {
              headers: {
              "X-CSRFToken":csrf_token,
              },
              url: '/add/image/',
              method: 'DELETE',
          },
          fetch: null,
          load: null,
      },
      imageResizeTargetWidth: "2000",
  });
  const pond = document.querySelector('.filepond--root');
  pond.addEventListener('FilePond:processfile', e => {
      $("#image-ids").val($("#image-ids").val() + e["detail"]["file"].serverId.toString() + ",");
  });
</script>
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-6 offset-md-3">
    <div style="background-color: white; padding: 10px;">
      <h3>New Post: </h3>
      <form action="/add/image/" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <input type='file' class="upload-widget" name="image" multiple/>
      </form>

      <form action="." method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <input id="image-ids" type='hidden' value="" name="images"/>
        <br>
        <br>
        <div id="previews"/></div>
        <br>
        <br>
        {{ form.description|as_crispy_field }}
        <br>
        <input type="submit" class="btn btn-success" value="Post"/>
      </form>
      <br>
    </div>
  </div>
</div>
{% endblock %}
