<a id="image-link-{{ images.0.pk }}"><img class="image-display" src="{{ images.0.image.url }}" id="image-previewer-{{ images.0.pk }}"></a>
 {% if images.count > 1 %}
   {% for photo in images %}
    <div class="crop">
      <img data-count="{{ forloop.counter0 }}" class="image-preview-{{ images.0.pk }}" src="{{ photo.image.url }}" style="{% if forloop.first %}margin-left: 2px;{% endif %} margin-right: 2px; margin-top: 2px; float: left; cursor: pointer;">
    </div>
   {% endfor %}
 {% endif %}
 <br>

<!-- The Modal -->
<div id="image-modal-{{ images.0.pk }}" class="modal" style="z-index: 20">
  <!-- The Close Button -->
  <span id="image-close-{{ images.0.pk }}" class="close" style="z-index: 6;">&times;</span>
  <!-- Modal Content (The Image) -->
  {#<img id="image-{{ images.0.pk }}" class="modal-content" src="">#}
  <div id="image-carousel-{{ images.0.pk }}" class="carousel" data-ride="carousel" data-interval="false">
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      {% for image in images %}
      <div class="carousel-item {% if forloop.first %}active{% endif %}" id="carousel-item-{{ image.pk }}">
          <img class="carousel-image d-block" src="{{ image.image.url }}" alt="" >
        </div>
      {% endfor %}
    </div>

  {% if images.count > 1 %}
    <a class="carousel-control-prev" href="#image-carousel-{{ images.0.pk }}" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#image-carousel-{{ images.0.pk }}" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
 {% endif %}
  </div>
  <!-- Modal Caption (Image Text) -->
  <div id="caption"></div>
</div>

