<div>
  {% if comment.profile.image %}
    <img style="display: inline;" class="mx-auto profile-pic" src="{{ comment.profile.image.url }}" />
  {% else %}
    <img style="display: inline;" class="mx-auto profile-pic" src="https://api.adorable.io/avatars/130/{{ comment.profile.user.pk }}@adorable.io.png" />
  {% endif %}
  <p class="d-inline-block" style="position: relative; left: -5px; top: -10px; color: blue;"><b>{{ comment.profile.display_name }}:</b></p>
  <p  style="position: relative; top: -30px; left: 70px;">{{ comment.text }}</p>
  {% if not forloop.last %}
  <hr style="margin: 5px; margin-top: -20px;">
  {% endif %}
</div>

