<div class="row">
  <div class="col-md-8">
    <div class="" style="display: inline; float: left;">
      {% if post.profile.image %}
        <img style="display: inline;" class="profile-pic" src="{{ post.profile.image.url }}" />
      {% else %}
        <img style="display: inline;" class="profile-pic" src="https://api.adorable.io/avatars/150/{{ post.profile.user.pk }}@adorable.io.png" />
      {% endif %}
    </div>
    <div class="" style="display: inline; float: left; margin-top: 10px;">
      <p style="display: inline; color: blue;"><b>{{ post.profile.display_name }}</b></p>
      <p>{{ post.date }}</p>
    </div>
  </div>
</div>
