{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <style>
      html, body {
        overflow-x: hidden;
        background-color: #F4F4F4;
      }
    </style>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {% block head-css %}
      
     <style>
      .post {
        margin-top: 10px;
      }

      .carousel-image {
        position: fixed;
        left: 50%;
        transform: translateX(-50%);
        max-width: 100%; 
        max-height: 85%;
        margin-top: -30px;
      }
      
      .carousel-control-next {
        position: fixed;
      }
      .carousel-control-prev {
        position: fixed;
      }

      .profile-pic {
        width: 65px;
        height: 65px;
        position: relative;
        overflow: hidden;
        border-radius: 50%;
        object-fit: cover;
        padding: 10px;
      }
      .upload-preview {
        position: relative;
        overflow: hidden;
        object-fit: contain;
      }

      .image-display {
          display: block;
          margin-left: auto;
          margin-right: auto;
          max-height: 600px;
          max-width: 100%;
          width: 100%;
          object-fit: cover;
       }

        .crop img {
            object-fit: cover;
            height: 110px;
            width: 110px;
        }
        /* The Modal (background) */
        .modal {
          display: none; /* Hidden by default */
          position: fixed; /* Stay in place */
          z-index: 1; /* Sit on top */
          padding-top: 100px; /* Location of the box */
          left: 0;
          top: 0;
          width: 100%; /* Full width */
          height: 100%; /* Full height */
          overflow: hidden; /* Enable scroll if needed */
          background-color: rgb(0,0,0); /* Fallback color */
          background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
        }


        /* Modal Content (Image) */
        .modal-content {
          display: block;
          margin: auto;
          width: auto;
          height: auto;
          max-width: 85%;
          max-height: 85%;
        }

        /* Caption of Modal Image (Image Text) - Same Width as the Image */
        #caption {
          margin: auto;
          display: block;
          width: 80%;
          max-width: 700px;
          text-align: center;
          color: #ccc;
          padding: 10px 0;
          height: 150px;
        }

        /* Add Animation - Zoom in the Modal */
        .modal-content, #caption {
          animation-name: zoom;
          animation-duration: 0.4s;
        }

        @keyframes zoom {
          from {transform:scale(0)}
          to {transform:scale(1)}
        }

        /* The Close Button */
        .close {
          position: absolute;
          top: 15px;
          right: 35px;
          color: #f1f1f1;
          font-size: 40px;
          font-weight: bold;
          transition: 0.3s;
        }

        .close:hover,
        .close:focus {
          color: #bbb;
          text-decoration: none;
          cursor: pointer;
        }

     </style>
    {% endblock %}

    {% block head-js %}
    {% endblock %}

    <title>{% block title %}Simple Photos{% endblock %}</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-light" style="background-color: white; max-height: 50px;">
      <a class="navbar-brand" href="/"><img height="30" src="" alt="Simple Photos"/></a>
      <button class="navbar-toggler" style="z-index: 1" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent" style="z-index: 10; background-color: white;">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/profile">Profile</a>
          </li>
          {% if request.user.is_staff %}
          <li class="nav-item active">
            <a class="nav-link" href="/users">Users</a>
          </li>
          {% endif %}
          {% if request.user.is_staff %}
          <li class="nav-item">
            <a class="btn btn-outline-success btn-sm" style="margin-top: 4px;" href="/add"><i class="fa fa-plus" aria-hidden="true"></i> New Post</a>
          </li>
          {% endif %}
          {% if request.user.is_staff %}
          <li class="nav-item" style="padding-left: 5px;">
            <a class="btn btn-outline-info btn-sm" style="margin-top: 4px;" href="#"><i class="fa fa-plus" aria-hidden="true"></i> Invite</a>
          </li>
          {% endif %}
        </ul>
        <ul class="navbar-nav">
          {% if request.user.is_authenticated %}
            <li class="nav-item" style="margin-right: 10px;">
              <a href="/logout/" class="btn btn-outline-success btn-sm">Log Out</a>
            </li>
          {% else %}
            <li class="nav-item" style="margin-right: 10px;">
              <a href="/login/" class="btn btn-outline-success btn-sm">Login</a>
            </li>
          {% endif %}
        </ul>
      </div>
    </nav>
    <br>
    {% block content %}
    {% endblock %}
    <footer class="text-muted" style="margin-top: 120px;">
      <div class="row">
        <div class="col-md-8 offset-md-2">
          <center><p>Simple Photos is a Open Source project licensed under GNU GPLv3.</p></center>
        </div>
      </div>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    {% block end-js %}
    {% endblock %}
  </body>
</html>
