{% extends "base.html" %}

{% block content %}
<div class="row">
  <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">
    <div class="row" id="vue-app">
      {% for post in posts %}
        <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">
            <div class="post" style="border: 1px solid #D2D2D2; border-radius: 8px; background-color: white;">
              {#{% include "includes/profile-display.html" %}#}
              <div class="row">
                <div class="col-md-12">
                    {% include "includes/carousel.html" with images=post.images.all %}
                </div>
              </div>
              {#{% include "includes/profile-display.html" %}#}
              <div class="row">
                <div class="col-md-8">
                  <div class="" style="display: inline; float: left; padding-left: 10px;">
                    <p style="display: inline; color: blue;"><b>{{ post.profile.display_name }}</b></p>
                    <p style="display: inline;"> - {{ post.date }}</p>
                  </div>
                </div>
              </div>
              {% if post.images.all.count > 1 %}
              <br>
              {% endif %}
              <div class="row">
                <div class="col-md-12 ">
                  <p style="margin-left: 20px; margin-right: 20px;">{{ post.description }}</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 ">

                  <button v-on:click="comment_show" data-form="comment-{{ post.pk }}" id="comment-button-{{ post.pk }}" style="margin: 3px; margin-right: 10px; float: right;" class="btn btn-outline-info btn-sm "><i class="fa fa-comment" aria-hidden="true"></i> Comment</button>
                  <form method="POST" action="/like/">
                    {% csrf_token %}
                    <input type="hidden" name="post" value="{{ post.pk }}"/>
                    {% if profile in post.liked_by %}
                      <input type="hidden" name="liked" value="false"/>
                      <button v-on:click="like_post" id="like-button-{{ post.pk }}" style="margin: 3px; float: right;" class="btn btn-outline-danger btn-sm "><i class="fa fa-heart"></i> Liked</button>
                    {% else %}
                      <input type="hidden" name="liked" value="true"/>
                      <button v-on:click="like_post" id="like-button-{{ post.pk }}" style="margin: 3px; float: right;" class="btn btn-outline-danger btn-sm "><i class="fa fa-heart-o"></i></button>
                    {% endif %}
                  </form>
                  <div class="likes d-inline-block" style="margin-top: 5px; padding-left: 10px;">
                  {% for person in post.liked_by %}
                    {% if forloop.first %}
                      <p class="d-inline">Liked by:</p>
                    {% endif %}
                    <p class="d-inline" style="color: #3333EE;">{{ person.display_name }}</p>{% if not forloop.last %},{% endif %}
                  {% endfor %}
                  </div>
                </div>
              </div>
              {% if post.comment_set.all %}
              <hr style="margin: 5px;">
              {% endif %}
              <div id="comment-{{ post.pk }}" style="display: none;">
                <br>
                <div class="row justify-content-center">
                  <div class="col-md-10">
                    {% if profile.image %}
                      <img class="d-inline-block profile-pic" src="{{ profile.image.url }}" />
                    {% else %}
                      <img class="d-inline-block profile-pic" src="https://api.adorable.io/avatars/130/{{ profile.user.pk }}@adorable.io.png" />
                    {% endif %}
                    <p class="d-inline-block" style="position: relative; left: 0px; top: -20px; color: blue;"><b>{{ profile.display_name }}:</b></p>
                    <form method="POST" action="/comment/" style="margin-left: 70px; margin-top: -30px; margin-right: 5px;">
                      {% csrf_token %}
                      <textarea class="textarea form-control" style="width: 100%;" name="text"></textarea>
                      <input type="hidden" name="post" value="{{ post.pk }}"/>
                      <input style="margin: 3px;" class="btn btn-outline-success btn-sm" type="submit" value="Submit"/>
                    </form>
                    <br>
                  </div>
                </div>
              </div>
              <div class="post-comment" style="margin-top: 3px; margin-left: 15px; {% if post.comment_set.all %}margin-bottom: -30px;{% endif %}">
                {% for comment in post.comment_set.all %}
                  {% include "includes/comment.html" with comment=comment %}
                {% endfor %}
              </div>
            </div>
        </div>
      {% endfor %}
      </div>
    </div>
  <br>
</div>
{% endblock %}

{% block end-js %}
<script>
  var app = new Vue({
    el: '#vue-app',
    data: {
    },
    methods: {
      comment_show: function(event) {
        var form = $("#" + $(event.srcElement).attr("data-form"));
        form.toggle();
      },
      like_post: function (event) {
        event.preventDefault();
        var form = $(event.srcElement.closest("form"));
        console.log(form);
        axios({
          method: 'post',
          url: '/like/',
          data: form.serialize(),
        })
        .then(function (response) {
            //handle success
            var liked = $($(event.srcElement.closest("form")).find("input[name=liked]")[0]);
            var button = $(event.srcElement.closest("button"));
            console.log(liked);
            if (response.data.liked == "true") {
              liked.val("false");
              button.html("<i class='fa fa-heart'></i> Liked");
            } else {
              liked.val("true");
              button.html("<i class='fa fa-heart-o'></i>");
            };
        })
        .catch(function (response) {
            //handle error
            console.log(response);
        });
      }
    }
  })
</script>
{% for post in posts %}
  {% include "includes/carousel-js.html" with images=post.images.all %}
{% endfor %}
{% endblock %}
